body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:255px;
  top:6px;
  width:100px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:592px;
  width:360px;
  height:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:46px;
}
#u8_img {
  position:absolute;
  left:-8px;
  top:-5px;
  width:376px;
  height:62px;
}
#u9 {
  position:absolute;
  left:2px;
  top:15px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:35px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:49px;
  top:35px;
  width:77px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:330px;
  top:36px;
  width:21px;
  height:21px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:83px;
  width:58px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:107px;
  width:360px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u19 {
  position:absolute;
  left:10px;
  top:125px;
  width:40px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:60px;
  top:125px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:60px;
  top:156px;
  width:280px;
  height:152px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:152px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:306px;
  top:125px;
  width:22px;
  height:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:334px;
  top:126px;
  width:12px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:10px;
  top:562px;
  width:67px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:551px;
  width:360px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u32 {
  position:absolute;
  left:10px;
  top:345px;
  width:40px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:60px;
  top:345px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:60px;
  top:376px;
  width:280px;
  height:152px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:152px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:306px;
  top:345px;
  width:22px;
  height:22px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u39 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:334px;
  top:346px;
  width:12px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:60px;
  top:331px;
  width:300px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u43 {
  position:absolute;
  left:60px;
  top:314px;
  width:56px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:60px;
  top:533px;
  width:56px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:332px;
  top:565px;
  width:15px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
