body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1019px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:690px;
  color:#009DD9;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:690px;
}
#u1 {
  position:absolute;
  left:2px;
  top:337px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-12px;
  width:1000px;
  height:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:10px;
  width:27px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:90px;
  top:10px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:129px;
  top:10px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:169px;
  top:10px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:234px;
  top:10px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:847px;
  top:10px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:923px;
  top:10px;
  width:27px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:194px;
  top:64px;
  width:613px;
  height:42px;
  font-size:36px;
  color:#A1A1A1;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:42px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:440px;
  top:117px;
  width:119px;
  height:22px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:400px;
  top:164px;
  width:200px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u23 {
  position:absolute;
  left:400px;
  top:207px;
  width:100px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u24 {
  position:absolute;
  left:510px;
  top:207px;
  width:90px;
  height:25px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:441px;
  top:317px;
  width:118px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:400px;
  top:264px;
  width:200px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:500px;
  top:313px;
  width:68px;
  height:26px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:672px;
  top:195px;
  width:220px;
  height:100px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
}
#u33 {
  position:absolute;
  left:5px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:672px;
  top:245px;
  width:-240px;
  height:0px;
}
#u34_seg0 {
  position:absolute;
  left:-244px;
  top:-10px;
  width:254px;
  height:20px;
}
#u35 {
  position:absolute;
  left:-170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:49px;
  top:668px;
  width:626px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:896px;
  top:668px;
  width:53px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:827px;
  top:584px;
  width:122px;
  height:83px;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:83px;
}
#u41 {
  position:absolute;
  left:10px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:979px;
  top:651px;
  width:40px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:287px;
  top:0px;
  width:90px;
  height:36px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:306px;
  top:10px;
  width:27px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:341px;
  top:6px;
  width:24px;
  height:24px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:287px;
  top:0px;
  visibility:hidden;
}
#u50_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:180px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:180px;
}
#u52 {
  position:absolute;
  left:2px;
  top:82px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:19px;
  top:10px;
  width:27px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:54px;
  top:6px;
  width:24px;
  height:24px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:36px;
  width:90px;
  height:36px;
  color:#000000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:72px;
  width:90px;
  height:36px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:108px;
  width:90px;
  height:36px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:144px;
  width:90px;
  height:36px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:19px;
  top:10px;
  width:27px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:54px;
  top:6px;
  width:24px;
  height:24px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u72 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:36px;
  width:90px;
  height:36px;
  color:#000000;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:72px;
  width:90px;
  height:36px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:108px;
  width:90px;
  height:36px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:144px;
  width:90px;
  height:36px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
