body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:255px;
  top:6px;
  width:100px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:592px;
  width:360px;
  height:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:46px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
}
#u9 {
  position:absolute;
  left:2px;
  top:15px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:35px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:44px;
  top:35px;
  width:109px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:10px;
  top:80px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:70px;
  top:84px;
  width:37px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:70px;
  top:106px;
  width:51px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:127px;
  top:106px;
  width:51px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:10px;
  top:150px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:70px;
  top:154px;
  width:37px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:70px;
  top:176px;
  width:51px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:127px;
  top:176px;
  width:51px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
