body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:700px;
  color:#009DD9;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:700px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-12px;
  width:1000px;
  height:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:10px;
  width:27px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:90px;
  top:10px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:129px;
  top:10px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:169px;
  top:10px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:234px;
  top:10px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:847px;
  top:10px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:923px;
  top:10px;
  width:27px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:50px;
  top:674px;
  width:626px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:897px;
  top:674px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:828px;
  top:590px;
  width:122px;
  height:83px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:83px;
}
#u23 {
  position:absolute;
  left:10px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:980px;
  top:657px;
  width:40px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:334px;
  top:115px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#434343;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:274px;
  top:164px;
  width:200px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:left;
}
#u29 {
  position:absolute;
  left:274px;
  top:209px;
  width:200px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:left;
}
#u30 {
  position:absolute;
  left:274px;
  top:254px;
  width:110px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:left;
}
#u31 {
  position:absolute;
  left:274px;
  top:299px;
  width:100px;
  height:16px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:274px;
  top:325px;
  width:100px;
  height:16px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:274px;
  top:359px;
  width:200px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:421px;
  top:325px;
  width:53px;
  height:16px;
  color:#0099CC;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:526px;
  top:164px;
  width:200px;
  height:226px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:226px;
}
#u40 {
  position:absolute;
  left:2px;
  top:105px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:566px;
  top:198px;
  width:120px;
  height:50px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:566px;
  top:308px;
  width:120px;
  height:50px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:560px;
  top:258px;
  width:131px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:394px;
  top:254px;
  width:80px;
  height:25px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:99px;
  top:273px;
  width:111px;
  height:32px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:32px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:210px;
  top:289px;
  width:70px;
  height:0px;
}
#u51_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u52 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:254px;
  top:164px;
  width:10px;
  height:110px;
}
#u53_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u53_end {
  position:absolute;
  left:-5px;
  top:93px;
  width:20px;
  height:18px;
}
#u53_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:110px;
}
#u54 {
  position:absolute;
  left:99px;
  top:172px;
  width:103px;
  height:48px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:205px;
  top:196px;
  width:50px;
  height:0px;
}
#u56_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u57 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:319px;
  top:414px;
  width:40px;
  height:16px;
  color:#009DD9;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:394px;
  top:414px;
  width:40px;
  height:16px;
  color:#009DD9;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:274px;
  top:450px;
  width:201px;
  height:32px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:32px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:287px;
  top:0px;
  width:90px;
  height:36px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u65 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:306px;
  top:10px;
  width:27px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:341px;
  top:6px;
  width:24px;
  height:24px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u69 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:287px;
  top:0px;
  visibility:hidden;
}
#u70_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u70_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:180px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:180px;
}
#u72 {
  position:absolute;
  left:2px;
  top:82px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:19px;
  top:10px;
  width:27px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:54px;
  top:6px;
  width:24px;
  height:24px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:36px;
  width:90px;
  height:36px;
  color:#000000;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:72px;
  width:90px;
  height:36px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:108px;
  width:90px;
  height:36px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:144px;
  width:90px;
  height:36px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u88 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:19px;
  top:10px;
  width:27px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:54px;
  top:6px;
  width:24px;
  height:24px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:36px;
  width:90px;
  height:36px;
  color:#000000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:72px;
  width:90px;
  height:36px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:108px;
  width:90px;
  height:36px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:144px;
  width:90px;
  height:36px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u100 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
